################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BBSbyNetCore/v15/Server/sqlite3/db.lock
/NetCoreBBS/bin
/Infrastructure/bin
/ApplicationCore/bin
/NetCoreBBS/obj
/Infrastructure/obj
/ApplicationCore/obj
/NetCoreBBS/Properties/PublishProfiles
/.vs/BBSbyNetCore
