@model Tuple<int, int, int>

<div class="panel panel-default topics">
    <div class="panel-heading">
        <h3 class="panel-title">统计信息</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">社区会员: @Model.Item1 人</li>
        <li class="list-group-item">帖子数: @Model.Item2 个</li>
        <li class="list-group-item">回帖数: @Model.Item3 条</li>
    </ul>
</div>

<div class="panel panel-default topics">
    <div class="panel-heading">
        <h3 class="panel-title">站长小游戏</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://www.4a8.net/game" target="_blank">拯救ZORRO</a> <small style="color:red">键盘上下左右控制哟</small></li>
    </ul>
</div>